<div class="card-header bg-primary mb-0">
  <a {{#if user}}href="/comparisons" {{else}}href="/" {{/if}} class="text-decoration-none"><h1 class="text-light text-center">Pros N Cons</h1></a>
</div>
<nav class="navbar navbar navbar-light border mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="d-none d-lg-flex d-md-flex justify-content-center">
      {{#if user}}
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Comparisons
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/comparisons">All</a>
          <a class="dropdown-item" href="/comparisons/add">Add</a>
        </div>
      </div>
      <a href="/auth/logout" class="nav-item nav-link">Logout</a>
      {{else}}
      <a href="/users/register" class="nav-item nav-link">Register</a>
      <a href="/auth/login" class="nav-item nav-link">Login</a>
      {{/if}}
      <a href="/about" class="nav-item nav-link">About</a>
    </div>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/comparisons">Comparisons</a>
        <a class="nav-link" href="/comparisons/add">Add a Comparison</a>
      </li>
      <li>
        <hr class="my-1">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>